#Backup files
*\~
*swp
*blend[0-9]

#MacOS
Thumbs.db
.DS_Store

#Emacs buffers
\#*\#

/\.idea

/deps
/build
/_build
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
*.pyc
/Win32
/bin
conan_imports_manifest.txt
