
env:
  global:
    - CONAN_USERNAME="dimi309"
    - CONAN_CHANNEL="testing"
    - CONAN_REMOTES="https://api.bintray.com/conan/dimi309/conan-packages"
    - CONAN_UPLOAD="https://api.bintray.com/conan/dimi309/conan-packages"
    - CONAN_REFERENCE="small3d/master"

linux: &linux
   os: linux
   sudo: required
   language: python
   python: "3.6"
   services:
     - docker
osx: &osx
   os: osx
   language: generic
matrix:
   include:

      - <<: *linux
        env: CONAN_GCC_VERSIONS=4.9 CONAN_DOCKER_IMAGE=lasote/conangcc49
      - <<: *linux
        env: CONAN_GCC_VERSIONS=5.4 CONAN_DOCKER_IMAGE=lasote/conangcc54
      - <<: *linux
        env: CONAN_GCC_VERSIONS=6.3 CONAN_DOCKER_IMAGE=lasote/conangcc63
      - <<: *osx
        osx_image: xcode7.3
        env: CONAN_APPLE_CLANG_VERSIONS=7.3
      - <<: *osx
        osx_image: xcode8.2
        env: CONAN_APPLE_CLANG_VERSIONS=8.0
      - <<: *osx
        osx_image: xcode8.3
        env: CONAN_APPLE_CLANG_VERSIONS=8.1

install:
  - chmod +x ./.travis/install.sh
  - ./.travis/install.sh
script:
  - chmod +x ./.travis/run.sh
  - ./.travis/run.sh
