build: false
environment:
    PYTHON: "C:\\Python27"
    PYTHON_VERSION: "2.7.8"
    PYTHON_ARCH: "32"
    CONAN_REFERENCE: "small3d/master"
    CONAN_USERNAME: "dimi309"
    CONAN_CHANNEL: "testing"
    CONAN_TOTAL_PAGES: 2
    CONAN_REMOTES: "https://api.bintray.com/conan/dimi309/conan-packages"
    CONAN_UPLOAD: "https://api.bintray.com/conan/dimi309/conan-packages"

    matrix:
        - CONAN_CURRENT_PAGE: 1
        - CONAN_CURRENT_PAGE: 2

install:
  - set PATH=%PATH%;%PYTHON%/Scripts/
  - pip.exe install conan_package_tools
  - conan user

test_script:
  - C:\Python27\python build.py

